a{
	color: #000 !important;
}
.container{
	width: 400px;
}
.logo{
	height: 42px;
}
.logo-container{
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	width: 100%;
	margin-top: 3px;
}
.article-img img{
	width: 102px;
}

.header-title {
	margin-top:-2px;
	text-align: center;
}
.story-container:hover{
	background-color: #F5F5F5;
	cursor:pointer;
}
.ui.inverted.dimmer .ui.loader {
	margin-top: 10px;
}

.grey small{
	color: grey;
}

.bold{
	font-weight: 700;
}