h5 strong a{
	font-family: 'Lora', sans-serif;
	font-weight: 400;
}

hr {
	margin-bottom: 0;
	margin-top: 0;
}

.navbar{
	min-height: 41px;
}

.container{
	width: 400px;
}

.logo{
	height: 31px;
}

.logo-container{
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	width: 100%;
	margin-top: 3px;
}

.article-img img{
	width: 102px;
}

.header-title {
	font-family: 'Lora', sans-serif;
	margin-top:-2px;
	text-align: center;
	margin-bottom: 30px; 
}

.story-container:hover{
	background-color: #F5F5F5;
	cursor:pointer;
}

.ui.inverted.dimmer .ui.loader {
	margin-top: 10px;
}

.grey small{
	color: grey;
}

.light-grey, .light-grey a{
	color: #C7C7C7;
}

.medium-grey, .medium-grey a{
	color: #9E9E9E;
}

.medium-grey a:hover {
	color: #484848;
	text-decoration: none;
	transition: color .2s ease-in;
}

.bold{
	font-weight: 700;
}

.copyright{
	margin-top: 9px;
}

.spacing{
	margin-bottom: 13px;
    margin-top: 13px;
}